<!DOCTYPE html>
<html lang="en">
<head>
	<meta charse="UTF-8">
	<title>购物车</title>
</head>
<body>
	<div id="app">
		<div>
			课程：<input type="text" name="" v-model='course'>
			价钱：<input type="text" name="" v-model='price'>
			<button @click='addcourse'>添加商品</button>
		</div>
		<ul>
			<li v-for='(list,index) in classlist'>
				课程:{{ list.text }}---价格:{{list.price}}
				<button @click="addtochat(index)">添加到购物车</button>
			</li>
		</ul>
		<chat :chatarr='chatarr'></chat>
	</div>
	<script type="text/javascript" src="vue.js"></script>
	<script type="text/javascript" src="vue-router.js"></script>

	<script type="text/javascript">
		var Chat = {
			props:['chatarr'],
			template:`
				<div>
					购物车
					<table border="1">
						<tr>
							<th>选中</th>
							<th>课程</th>
							<th>数量</th>
							<th>价格</th>
						</tr>
						<tr v-for="(chat,index) in chatarr">
							<td><input type="checkbox" name="" v-model='chat.active'></td>
							<td>{{ chat.text }}</td>
							<td>
								<span @click='reduce(index)'>-</span>
								{{ chat.count }}
								<span @click='add(index)'>+</span>
							</td>
							<td>{{ chat.count * chat.price }}</td>
						</tr>
						<tr>
							<td colspan='2'>选中的课程: {{ activeCount }}/{{ totalCount }}</td>
							<td colspan='2'>需付金额: {{ totalPirce }}</td>
						</tr>
					</table>
				</div>
			`,
			methods:{
				add(index){
					this.chatarr[index].count ++
				},
				reduce(index){

					if(this.chatarr[index].count == 1){
						if(window.confirm(`是否删除${this.chatarr[index].text}?`)){
							this.chatarr.splice(index,1)
						}
					}else{
						this.chatarr[index].count --
					}
				}
			},
			computed:{
				activeCount(){
					return this.chatarr.filter(v=>v.active).length
				},
				totalCount(){
					return this.chatarr.length
				},
				totalPirce(){
					let totalPirce = 0;
					this.chatarr.forEach(v=>{
						if(v.active){
							totalPirce += v.price * v.count
						}
					})
					return totalPirce
				}
			},
			watch:{
				chatarr:{
					handler(){
						window.localStorage.setItem('chat',JSON.stringify(this.chatarr))
					},
					deep:true
				}
			},
			created(){
				this.chatarr = JSON.parse(window.localStorage.getItem('chat'))
			}
		}
		new Vue({
			el:'#app',
			components:{
				Chat
			},
			data(){
				return {
					classlist:[
						{text:'springclond',price:20},
						{text:'vue',price:30},
						{text:'js',price:40},
						{text:'php',price:50},
					],
					course:'',
					price:'',
					chatarr:[],
				}
			},
			methods:{
				addcourse(){
					this.classlist.push({text:this.course,price:this.price})
					this.course=''
					this.price=''
				},
				addtochat(index){
					const goods = this.classlist[index]
					const res = this.chatarr.find(v=> v.text == goods.text)
					if(res){
						res.count += 1
					}else{
						this.chatarr.push({...goods,count:1,active:true})
					}
				},
				
			}
		})
	</script>
</body>
</html>